.lexend-zetta-fonte {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: Thin;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
}


h1{
  background: none; 
}

p{
   background: none;
}

header{
    padding: 10px;
    margin: auto;
    font-size: larger;
    height: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0px 0px 50px 25px;
    background-size: cover;
    position: sticky;
}

nav{
    transition: 0.5s;
    padding: 0px 10px 10px 10px;
    margin: auto;
    font-size: 20px;
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
    background-size: cover;
    position: sticky;
    color: beige;
    background: rgb(2,0,36);
    background: linear-gradient(42deg, rgba(2,0,36,1) 0%, rgba(105,218,171,1) 0%, rgba(98,177,142,1) 21%, rgba(97,171,138,1) 45%, rgba(85,104,91,1) 100%);
}

.left{
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: none;

    a{
        background: none;
    }
}

.right{
    padding-bottom: 10px;
    background: none;
}

.right a{
    text-decoration: none;
    color: white;
    background: none;
}

.right a:hover{
    color: black;
}

label{
    background: none;
}

.slide-show{
    margin: 60px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    transition: 0.5s;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
    transition: 0.5s;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1.5s;
}

.slide img{
    width: 800px;
}

.manual-navigation {
    margin: auto;
    align-items: center;
    backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    width: 12em;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 1.5em;
}

.manual-btn{
    backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.3);
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    background: none;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    margin: auto;
    align-items: center;
    background: none;
    position: absolute;
    width: fit-content;
    
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

.search-container{
    margin: auto;
    width: 50vw;
    height: 4vh;
    padding: 2rem;
    border: none;
}

.search{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: larger;
    border: none;
    text-decoration: underline;
    border-radius: 15px;
}

.title{
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: none;
}

.title h1{
    padding-bottom: 10px;
}

.title label{
    padding: 15px;
    transition: 0.4s;
}

.title label:hover{
    color: rgba(22, 116, 69, 0.781);
    font-size: large;
}

.title img{
    width: 150px;
    background: none;
}

.options{
    margin: auto;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 2rem;
    width: 90vw;
    border-radius: 10px;
    gap: 15px;
    flex-wrap: wrap;
}

.Living-room:hover,.Kitchen:hover,.Bathroom:hover,.Bedroom:hover,.Dining-room:hover,.Laundry:hover{
    transform: rotateY(180deg);
}

.Living-room,.Kitchen,.Bathroom,.Bedroom,.Dining-room,.Laundry{
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transform-style:preserve-3d;
    transition: 0.5s;
    border-radius: 15px;
}

.back,.front{
    text-align: center;
    color: white;
    width: 200px;
    height: 150px;
    backface-visibility: hidden;
    border-radius: 15px;
}

.front{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(42deg, rgba(2,0,36,1) 0%, rgba(105,218,171,1) 0%, rgba(98,177,142,1) 21%, rgba(97,171,138,1) 45%, rgba(85,104,91,1) 100%);
}

.Living-room .back{
    background-image: url(images/sala-de-estar.webp);
    background-size: cover;
    transform: rotateY(180deg);
}

.Kitchen .back{
    background-image: url(images/cozinha.avif);
    background-size: cover;
    transform: rotateY(180deg);
}

.Bathroom .back{
    background-image: url(images/banheiro.jpg);
    background-size: cover;
    transform: rotateY(180deg);
}

.Bedroom .back{
    background-image: url(images/quarto.jpeg);
    background-size: cover;
    transform: rotateY(180deg);
}

.Dining-room .back{
    background-image: url(images/sala-de-jantar.jpg);
    background-size: cover;
    transform: rotateY(180deg);
}

.Laundry .back{
    background-image: url(images/lavanderia.jpeg);
    background-size: cover;
    transform: rotateY(180deg);
}

section{
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.catalogue{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background: none;
    z-index: -1;
}

.show-item{
    display: grid;
    padding: 1.5%;
    border-radius: 20px;
    z-index: 1;
    background: none;
    transition: 1s ease;
    text-align: center;
    margin: auto;
    width: 20vw;
    word-wrap: break-word;
    height: 45vh;
}

.show-item:hover{
    padding-bottom: 45px;
    background: rgb(2,0,36);
background: linear-gradient(42deg, rgb(79, 74, 173) 0%, rgb(137, 152, 146) 0%, rgb(127, 144, 136) 21%, rgb(109, 133, 123) 45%, rgb(130, 151, 136) 100%);
   

    p{
        color: rgb(0, 0, 0);
        transition: 1.5s ease;
        visibility: visible;
    }

    img{
        box-shadow: 0px 0px 3px 3px beige;
        transition: 0.5s;
    }

}

.show-item label{
    font-size: 20px;
    
}

.product-name{
    height: 10vh;
}

.product-price{
    align-items: center;
    justify-content: center;
    display: flex;
}

.show-item p{
    visibility: hidden;
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: fit-content;
    height: fit-content;
    margin-top: 10%;
    margin-bottom: -5%;
    cursor: pointer;
}

.show-item p:hover{
    color: white;
    transition: 0.5s;
}

.show-item img{
    margin: auto;
    text-align: center;
    display: grid;
    width: 20vw;
    height: 25vh;
    border-radius: 20px;
    margin-bottom: 2em;
}


footer{
    margin-top: 5em;
    background: linear-gradient(42deg, rgba(2,0,36,1) 0%, rgba(105,218,171,1) 0%, rgba(98,177,142,1) 21%, rgba(97,171,138,1) 45%, rgba(85,104,91,1) 100%);
    border-radius: 10px 10px 0px 0px;
    z-index: 0;
    color: white;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(42deg, rgba(2,0,36,1) 0%, rgba(105,218,171,1) 0%, rgba(98,177,142,1) 21%, rgba(97,171,138,1) 45%, rgba(85,104,91,1) 100%);
    border-radius: 10px 10px 0px 0px;
}

.footer-left{
    text-align: center;
    background: none;
    padding: 15px;
}

footer figure, footer h2{
    background-color: transparent;
    padding: 10px;
}

footer figure img{
    width: 2vw;
    padding: 10px;
    transition: 0.5s;
    background: none;
}

footer figure img:hover{
    width: 3vw;
    transition: 0.5s;
    cursor: pointer;
}

.footer-logo{
    background: none;
    width: 10vw;
}

.footer-right{
    width: fit-content;
    text-align: center;
    background: none;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.footer-right figure{
    text-align: center;
}

figcaption{
    background: none;
}

.copyright{
    background: transparent;
    text-align: center;
    padding: 5px;
}

.about_story {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40vh;
    border-radius: 20px;
    margin: 40px;
    img {
        width: 25em;
        height: 20em;
        clip-path: polygon(
            25% 0%, 75% 0%, 100% 50%, 
            75% 100%, 25% 100%, 0% 50%
        );
        
    }

    p{
        font-size: 20px;
        padding-left: 1em;
        padding-right: 1em;
    }
}


@media (max-width:426px) {

    nav{
        height: 26vh;
        align-items: center;
        justify-content: center;
    }

    .title{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
   .right{
        width: 384px;
        padding: 10px 10px 15px 15px;

        label{
            padding: 5px;
        }

   }

    .catalogue {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .show-item {
        width: 280px;
        padding: 1em;
    }

    .catalogue img {
        width: 250px;
    }

    .slide-show{
        width: 90vw;
        height: 40vh;
        position: relative;

        img{
            width: 100vw;
            height: 40vh;
        }
    }

    .slides{
        height: 250px;
    }


    .footer-container{
        display: grid;
    }

    .footer-left{
        figure img{
            width: 25px;
        }

        figure img:hover{
            width: 35px;
        }
    }

    .footer-logo{
        width: 150px;
    }

    .footer-right{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        figure{
            width: 100px;
        }

        figure img{
            width: 25px;
        }

        figure img:hover{
            width: 35px;
        }
    }

    .options{
        display: none;
    }

    .search-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .search{
        width: 300px;
    }

    .about_story{
        display: grid;
        height: 100vh;
        text-align: center;
        justify-content: center;
        align-items: center;

        img{
            
            width: 100vw;
            height: 40vh;

        }
    }

}

@media (max-width:376px) {

    nav{
        height: 26vh;
    }

    .title{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
   .right{
        width: 354px;
        padding: 10px 10px 15px 15px;

        label{
            padding: 5px;
        }

   }

    .catalogue {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .show-item {
        width: 280px;
        padding: 1em;
    }

    .catalogue img {
        width: 250px;
    }

    .slide-show{
        width: 90vw;
        height: 40vh;
        position: relative;

        img{
            width: 100vw;
            height: 40vh;
        }
    }

    .slides{
        height: 250px;
    }


    .footer-container{
        display: grid;
    }

    .footer-left{
        figure img{
            width: 25px;
        }

        figure img:hover{
            width: 35px;
        }
    }

    .footer-logo{
        width: 150px;
    }

    .footer-right{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        figure{
            width: 100px;
        }

        figure img{
            width: 25px;
        }

        figure img:hover{
            width: 35px;
        }
    }

    .options{
        display: none;
    }

    .search-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .search{
        width: 300px;
    }

    .about_story{
        display: grid;
        height: 100vh;
        text-align: center;
        justify-content: center;
        align-items: center;

        img{
            
            width: 100vw;
            height: 40vh;

        }
    }

}

@media (max-width:320px) {

    nav{
        height: 26vh;
    }

    .title{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
   .right{
        width: 270px;
        padding: 10px 10px 15px 15px;

        label{
            padding: 5px;
        }

   }

    .catalogue {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .show-item {
        width: 280px;
        padding: 1em;
    }

    .catalogue img {
        width: 250px;
    }

    .slide-show{
        width: 90vw;
        height: 40vh;
        position: relative;

        img{
            width: 100vw;
            height: 40vh;
        }
    }

    .slides{
        height: 250px;
    }


    .footer-container{
        display: grid;
    }

    .footer-left{
        figure img{
            width: 25px;
        }

        figure img:hover{
            width: 35px;
        }
    }

    .footer-logo{
        width: 150px;
    }

    .footer-right{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        figure{
            width: 100px;
        }

        figure img{
            width: 25px;
        }

        figure img:hover{
            width: 35px;
        }
    }

    .options{
        display: none;
    }

    .search-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .search{
        width: 300px;
    }

    .about_story{
        display: grid;
        height: 100vh;
        text-align: center;
        justify-content: center;
        align-items: center;

        img{
            
            width: 100vw;
            height: 40vh;

        }
    }

}


